@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  background-color: #070d1a;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background-color: #070d1a;
  color: white;
  overscroll-behavior-y: none;
}

#root {
  min-height: 100vh;
  background-color: #070d1a;
}

* {
  box-sizing: border-box;
}